
 <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card p-5">
          <!-- <div class="card p-5"> padding 5 -->
  <div class="row">
    <div class="col-md-4">
      <section>        
          <h2>Register</h2>
          <hr>    
          <div class="form-floating">
            <input class="form-control valid" type="text" id="Input_Vorname"  [(ngModel)]="this.Vorname">
            <label class="form-label" for="Input_Vorname">Vorname</label>
          </div>  
          <div class="form-floating">
            <input class="form-control valid" type="text" id="Input_Nachname" [(ngModel)]="this.Nachname">
            <label class="form-label" for="Input_Nachname">Nachname</label>
          </div>       
          <div class="form-floating">
            <input class="form-control valid" type="text" id="Input_Email"[(ngModel)]="this.email">
            <label class="form-label" for="Input_Email">Email</label>
          </div>          
          <div class="form-floating">
            <input class="form-control valid" type="text" id="Input_Password" [(ngModel)]="this.password">
            <label class="form-label" for="Input_Password">Password</label>
          </div>
          <div class="form-floating">            
                    <select  name="Select" class="selectpicker form-select" id="selectbox"
                    aria-label="Default select example" [(ngModel)]="auswahl" (change)="selected()">              
              <option [value]="0" >Open this select menu</option>
              <option [value]="1">Admin</option>
              <option [value]="2">Ausbilder</option>
              <option [value]="3">Auszubildender</option>
            </select>
          </div>
          <br>
          <div>          
            
            <button type="submit" class="w-100 btn btn-lg btn-primary"  (click)="onSubmit()">Register</button>          
          </div>        
      </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <section>
        <h3>Register new Users. </h3>
        <hr>
        <div>
          <p>Fülle die Felder aus und benutze das Dropdown Element um in einen jeweiligen Account zu registrieren            
          </p>
        </div>        
      </section>
    </div>
  </div>
  </div>
      </div>
    </div>